---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center green-text">{{ site.title }}</h1>
      <div class="row center">
        <table>
          <tr><td style="text-align: center;" colspan="3"><img class="responsive-img" src="/img/logo_testdag_2019.jpg"></td></tr>
          <tr><td width="33%"><img style="max-width: 75%;" class="responsive-img" src="/img/logo-capgemini.jpg"></td><td width="33%"><img style="max-width: 75%;" class="responsive-img" src="/img/ota_logo_large.png"></td><td width="33%"><img style="max-width: 75%;" class="responsive-img" src="/img/logo-innspire.png"></td></tr>
        </table>

        <h5 class="header col s12 light">{{ content }}</h5>
      </div>
      <!--
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>
      -->
    </div>
  </div>

  <div class="container">
    <div class="row center">
      <hr>
      <h5 class="header col s12 dark">Sponsors and supporters</h5>
      <div class="col s4">
        <a href="https://www.bartosz.nl/" target="_blank">
          <img src="/img/bartosz.jpg" width="220" alt="Bartosz">
        </a>
      </div>
      <div class="col s4">
        <a href="https://www.cimsolutions.nl/" target="_blank">
          <img src="/img/cimsolutions.png" width="220" alt="Cimsolutions">
        </a>
      </div>
      <div class="col s4">
        <a href="https://www.topdesk.com/" target="_blank">
          <img src="/img/topdesk.svg" width="220" alt="TOPDesk">
        </a>
      </div>
    </div>
    <div class="row center">
      <div class="col s4">
        <a href="https://supportbook.nl/" target="_blank">
          <img src="/img/supportbook.png" width="220" alt="Supportbook">
        </a>
      </div>
      <div class="col s4">
        <a href="https://xebia.com" target="_blank">
          <img src="/img/xebia.png" width="160" alt="Xebia">
        </a>
      </div>
      <div class="col s4">
        <a href="https://www.tricentis.com" target="_blank">
          <img src="/img/tricentis.png" width="220" alt="Tricentis">
        </a>
      </div>
    </div>
    <div class="row center">
      <div class="col s6">
        <a href="https://www.valori.nl/" target="_blank">
          <img src="/img/valori.jpg" width="120" alt="Valori">
        </a>
      </div>
      <div class="col s6">
        <a href="https://www.testcraft.io/" target="_blank">
          <img src="/img/testcraft.png" width="220" alt="TestCraft">
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row center">
      <hr>
      <a class="twitter-timeline" data-width="700" data-height="400" data-theme="light" href="https://twitter.com/NLTestdag?ref_src=twsrc%5Etfw">Tweets by NLTestdag</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
